.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.inner {
  display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    top: 30%;

    /* margin: 0; */
    /* background: yellow; */
    /* position: absolute; */
    /* top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)  */
}
.outer {
  height: 100vh;
  box-shadow: none !important;
  background-color: #f5f5f5;
  /* position: relative */
}