.example-card {
    max-width: 200px;
  }
  
  .coverimage{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* .part:before {
    content: '';
    width: 0;
    height: 100vh;
    position: relative;
    border: 1px solid black;
    top: 0;
    left: 0;
    bottom: 0;
  } */
  .line {
    border-left: 1px solid #ff0000;
    height: 100vh;
  }
  .noShadow {
    box-shadow: none !important;
  }
  .text {
    text-align: center !important;
  }


  .list-items {
    display: flex;
  
    justify-content: center;
  
    flex-flow: row wrap;
    align-content: flex-end;
  }
  
  .list-item {
    margin-left: 10px;
    margin-right: 10px;
  }