<mat-card class="row">
  <div class="col-sm-9 row">
    <mat-card class="example-card col-sm-6 list-items" *ngFor="let book of books let i = index" [style.margin-top.px]="'10'"
      [style.margin-right.px]="'10'">
      <img class="coverimage" mat-card-image src="{{ book.coverImg }}" alt="{{ book.name }}">
      <mat-card-content>
        <mat-card-content class="text">
          <span>{{ book.name }}</span>
        </mat-card-content>
        <mat-card-subtitle class="text">{{ book.author }}</mat-card-subtitle>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">Buy</button>
        <!-- <mat-chip color="primary" selected (click)="nextData()"></mat-chip> -->
        <button mat-stroked-button color="accent" (click)="data(books[i])" (keyup)="onKey($event)" (click)="nextData()">+ Cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-card class="col-sm-3 line">

    <h4>
      Number of items you have Added in your Cart: {{count}}
    </h4>

    <mat-card *ngIf="bookData; else loading" class="noShadow">
      <img class="coverimage" src="{{bookData.coverImg}}">
      <mat-card-content class="text">{{bookData.name}}</mat-card-content>
      <mat-card-subtitle class="text">{{bookData.author}}</mat-card-subtitle>
      <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="details()">Confirm</button>
        <!-- <mat-chip (click)="details()" color="primary" selected>Confirm</mat-chip> -->
        <button mat-stroked-button color="primary">Delete</button>
      </mat-card-actions>
    </mat-card>
    <ng-template #loading let-user>Your Cart is empty! Please select items and proceed to buy</ng-template>
  </mat-card>
</mat-card>