<mat-card style="box-shadow: none; background-color: #f5f5f5">
    <span>
        <h3> Hi, {{currentUser.firstName}} {{currentUser.lastName}}</h3>
    </span>
    <p>You Have {{counter}} Items in your cart</p>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="details()">Buy now</button>
    </mat-card-actions>
</mat-card>