.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    /* background-image: url('../../../assets/img/sidenav.png'); */
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  mat-icon{
    margin-right: 10px;
  }
  .example-side-nav{
    /* background-image: url('../../assets/img/sidenav.png'); */
    width: 200px;
    /* margin-left: auto;
    margin-right: auto; */
  }
  /* mat-nav-list a{
    color: white;
  } */
  .snavicon{
    max-height: 80px;
    width: auto;
    /* margin-top: 15px; */
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    /* margin-left: 50px; */
  }
  


/* new Nav */
  .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
    /* background-image: url('https://previews.123rf.com/images/claudiodivizia/claudiodivizia1701/claudiodivizia170102040/70936412-light-green-background-texture-with-shiny-speckles-of-random-colour-noise-vertical.jpg'); */
    box-shadow: 1px 0 2px rgba(0,0,0,.05);
    /* border-right: 1px  black; */
    background-color: #f5f5f5;
  }
  .snav {
    box-shadow: none !important;
    background-color: #f5f5f5;
  }
  .snitem {
   font-weight: 200;
  }
  .example-toolbar{
    /* position: fixed; */
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    background-color: white !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-bottom: 1px solid red;
  }
  /* .content {
    margin-top: 60px;
  } */
  