<div class="example-container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
            [opened]="!(isHandset | async)!.matches">
            <mat-card class="snav">
                <a>
                    <img class="snavicon" src="http://www.free-icons-download.net/images/confirm-shopping-cart-icon-94980.png">
                </a>
            </mat-card>

            <mat-nav-list>
                <mat-card class="snav">
                    <a mat-list-item routerLink="/home">
                        <mat-icon>home</mat-icon>
                        <span class="snitem">Home</span>
                    </a>
                    <a mat-list-item routerLink="/profile">
                        <mat-icon>person</mat-icon>
                        <span class="snitem">Profile</span>
                    </a>
                    <a mat-list-item routerLink="/payments">
                        <mat-icon>account_balance_wallet</mat-icon>
                        <span class="snitem">Payments</span>
                    </a>
                </mat-card>

            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar class="example-toolbar">

                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <span>Kilobyte</span>
                <span class="example-spacer"></span>
                <mat-icon class="example-icon">search</mat-icon>
                <mat-icon matTooltip="Cart" matBadge="{{counter}}" routerLink="/profile"
                 matBadgeColor="warn" matBadgeOverlap="false" class="example-icon ">shopping_cart</mat-icon>

                <mat-icon matTooltip="Logout " class="example-icon " (click)="logout() " (click)="refresh() ">open_in_new</mat-icon>


            </mat-toolbar>
            <div class="content ">
                <ng-content></ng-content>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>